<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h4 class="subtitle">Users Management App</h4>
            <h1 class="title">Creative Studio</h1>
            <div class="buttons text-center">
                <a href="/users" class="">Browse Users</a>
            </div>              
        </div>      
    </header>
    <!-- End Of Page Header -->
</body>
</html>